Binary search tree right node remova

In [ ]:
class binarynode:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
  
  def add_child(self,data):
    if data == self.data:
      return # node is already exists
    if data < self.data:
      if self.left:
        self.left.add_child(data)
      else:
        self.left = binarynode(data)
    if data > self.data:
      if self.right:
        self.right.add_child(data)
      else:
        self.right = binarynode(data)
  def search(self,val):
    if self.data == val:
      return True 
    
    if val < self.data:
      if self.left:
        self.left.search(val)
      else:
        return False
    
    if val > self.data:
      if self.right:
        self.right.search(val)
      else:
        return False
    
  def in_order_traversal(self):
    elements = []
    if self.left:
      elements += self.left.in_order_traversal()
    
    elements.append(self.data)

    if self.right:
      elements += self.right.in_order_traversal()

    return elements

  def post_order_traversal(self):
    elements = []
    if self.left:
      elements += self.left.post_order_traversal()
    
    if self.right:
      elements += self.right.post_order_traversal()

    elements.append(self.data)
    return elements

  def pre_order_traversal(self):
    elements =[self.data]

    if self.left:
      elements += self.left.pre_order_traversal()

    if self.right:
      elements += self.right.pre_order_traversal()
    
    return elements

  def find_min(self):
    if self.left is None:
      return self.data
    return self.left.find_min()

  def find_max(self):
    if self.right is None:
      return self.data
    return self.right.find_max()
  
  def delete(self,val):
    if val < self.data:
      if self.left:
        self.left.delete(val)
    elif val >self.data:
      if self.right:
        self.right.delete(val)
    else:
      if self.left is None and self.right is None:
        return None
      if self.left is None:
        return self.right
      if self.right is None:
        return self.left

      min_val = self.right.find_min()
      self.data = min_val
      self.right = self.right.delete(min_val)
    
    return self


def build_tree(elements):
  print("Build tree is:", elements)
  root = binarynode(elements[0])

  for i in range(1,len(elements)):
    root.add_child(elements[i])

  return root


if __name__ == '__main__':
  country = build_tree(["USA","UK","Singapore","UAE","USA","UK"])
  print("USA is in list or not ?",country.search("USA"))
  print("China is in list or not ?",country.search("China"))
  numbers =build_tree([19,10,12,13,10,19])
  numbers.delete(12)
  numbers_tree = build_tree([17, 4, 1, 20, 9, 23, 18, 34])
  numbers_tree.delete(20)
  print("After deleting 20 ",numbers_tree.in_order_traversal())
  print("In order traversal:",numbers.in_order_traversal())
  print("In order traversal",numbers_tree.in_order_traversal())
  print("Post order traversal:",numbers.post_order_traversal())
  print("Pre order traversal:",numbers.pre_order_traversal())
  print("maximum nunber:", numbers.find_max())
  print("minimum number:", numbers.find_min())

Build tree is: ['USA', 'UK', 'Singapore', 'UAE', 'USA', 'UK']
USA is in list or not ? True
China is in list or not ? None
Build tree is: [19, 10, 12, 13, 10, 19]
Build tree is: [17, 4, 1, 20, 9, 23, 18, 34]
After deleting 20  [1, 4, 9, 17, 18, 23, 34]
In order traversal: [10, 12, 13, 19]
In order traversal [1, 4, 9, 17, 18, 23, 34]
Post order traversal: [13, 12, 10, 19]
Pre order traversal: [19, 10, 12, 13]
maximum nunber: 19
minimum number: 10

Binary node left side removal

In [ ]:
class binarytree:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
  
  def add_child_node(self,data):
    if data == self.data:
      return 
    
    if data < self.data:
      if self.left:
        self.left.add_child_node(data)
      else:
        self.left = binarytree(data)
    
    if data > self.data:
      if self.right:
        self.right.add_child_node(data)
      
      else:
        self.right = binarytree(data)

  def search(self,val):
    if self.data == val:
      return True
    
    if val < self.data:
      if self.left:
        self.left.search(val)
      else:
        return False
    if val > self.data:
      if self.right:
        self.right.search(val)
      else:
        return False

  def in_order_traversal(self):
    elements = []

    if self.left:
      elements += self.left.in_order_traversal()

    elements.append(self.data)
      
    if self.right:
      elements += self.right.in_order_traversal()

    return elements

  def post_order_traversal(self):
    elements = [] 

    if self.left:
      elements += self.left.post_order_traversal()

    if self.right:
      elements += self.right.post_order_traversal()

    elements.append(self.data)        
    
    return elements

  def pre_order_traversal(self):
    elements = [self.data]

    if self.left:
      elements += self.left.pre_order_traversal()

    if self.right:
      elements += self.right.pre_order_traversal()

    return elements

  def find_max(self):
    if self.right is None:
      return self.data
    return self.right.find_max()

  def find_min(self):
    if self.left is None:
      return self.data
    return self.left.find_min()

  def delete(self,val):
    if val < self.data:
      if self.left:
        self.left.delete(val)

    elif val > self.data:
      if self.right:
        self.right.delete(val)
    
    else:
      if self.left is None and self.right is None:
        return None
      elif self.left is None:
        return self.right
      elif self.right is None:
        return self.left

      max_val = self.left.find_max()
      self.data = max_val
      self.left = self.left.delete(max_val)

    return self


def build_tree(elements):
  print("Build tree is:", elements)
  root = binarynode(elements[0])

  for i in range(1,len(elements)):
    root.add_child(elements[i])

  return root


if __name__ == '__main__':
  country = build_tree(["USA","UK","Singapore","UAE","USA","UK"])
  print("USA is in list or not ?",country.search("USA"))
  print("China is in list or not ?",country.search("China"))
  numbers =build_tree([19,10,12,13,10,19])
  numbers.delete(10)
  numbers_tree = build_tree([17, 4, 1, 20, 9, 23, 18, 34])
  numbers_tree.delete(4)
  print("After deleting 20 ",numbers_tree.in_order_traversal())
  print("In order traversal:",numbers.in_order_traversal())
  print("In order traversal",numbers_tree.in_order_traversal())
  print("Post order traversal:",numbers.post_order_traversal())
  print("Pre order traversal:",numbers.pre_order_traversal())
  print("maximum nunber:", numbers.find_max())
  print("minimum number:", numbers.find_min())
  print("maximum nunber:", numbers_tree.find_max())
  print("minimum number:", numbers_tree.find_min())

Build tree is: ['USA', 'UK', 'Singapore', 'UAE', 'USA', 'UK']
USA is in list or not ? True
China is in list or not ? None
Build tree is: [19, 10, 12, 13, 10, 19]
Build tree is: [17, 4, 1, 20, 9, 23, 18, 34]
After deleting 20  [1, 9, 17, 18, 20, 23, 34]
In order traversal: [10, 12, 13, 19]
In order traversal [1, 9, 17, 18, 20, 23, 34]
Post order traversal: [13, 12, 10, 19]
Pre order traversal: [19, 10, 12, 13]
maximum nunber: 19
minimum number: 10
maximum nunber: 34
minimum number: 1

Graph Tree

To find the possible ways of graph

In [ ]:
class Graph:
  def __init__(self,edges):
    self.edges = edges
    self.graph_dict = {}

    for start, end in self.edges:
      if start in self.graph_dict:
        self.graph_dict[start].append(end)

      else:
        self.graph_dict[start] = [end]
  
  def get_path(self,start,end,path=[]):
    path = path + [start]
    
    if start == end:
      return[path]
      
    if start not in self.graph_dict:
      return []
    
    paths = []
    for node in self.graph_dict[start]:
      if node not in path:
        new_paths = self.get_path(node, end, path)
        for p in new_paths:
          paths.append(p)

    return paths



if __name__ == '__main__':
  routes  = [("Chennai","Paris"),
             ("Chennai","Dubai"),
             ("Paris","New York"),
             ("Paris","Dubai"),
             ("Dubai","New York"),
             ("New York","Toronto")
             ]
  route_graph = Graph(routes)
  start = "Chennai"
  end = "New York"
  print("graph routes:",route_graph.graph_dict)
  print(f"the route path for: {start} and {end}",route_graph.get_path(start,end))

graph routes: {'Chennai': ['Paris', 'Dubai'], 'Paris': ['New York', 'Dubai'], 'Dubai': ['New York'], 'New York': ['Toronto']}
the route path for: Chennai and New York [['Chennai', 'Paris', 'New York'], ['Chennai', 'Paris', 'Dubai', 'New York'], ['Chennai', 'Dubai', 'New York']]

In [ ]:
class GraphTree:
  def __init__(self,edges):
    self.edges = edges
    self.graph_dict = {}

    for start, end in self.edges:
      if start in self.graph_dict:
        self.graph_dict[start].append(end)
      
      else:
        self.graph_dict[start] = [end]
  
  def get_path(self,start,end,path=[]):
    path = path + [start]

    if start == end:
      return[path]
    
    if start not in self.graph_dict:
      return []

    paths = []

    for node in self.graph_dict[start]:
      if node not in path:
        new_path = self.get_path(node, end, path)
        for p in new_path:
          paths.append(p)
    
    return paths

  def get_shortest_path(self,start,end,path=[]):
    path = path + [start]

    if start == end:
      return[path]

    if start not in self.graph_dict:
      return None

    shortpath = None

    for node in self.graph_dict[start]:
      if node not in path:
        sp = self.get_shortest_path(node, end, path)
        if sp:
          if shortpath is None or len(sp) < len(shortpath):
            shortpath = sp
    
    return shortpath

if __name__ == '__main__':
   routes  = [("Chennai","Paris"),
             ("Chennai","Dubai"),
             ("Paris","New York"),
             ("Paris","Dubai"),
             ("Dubai","New York"),
             ("New York","Toronto")
             ]
   route_graph = GraphTree(routes)
   start = "Chennai"
   end = "New York"
   print("graph routes:",route_graph.graph_dict)
   print(f"the route path for: {start} and {end}",route_graph.get_path(start,end))
   print(f"the shortest route path for: {start} and {end}",route_graph.get_shortest_path(start,end))

graph routes: {'Chennai': ['Paris', 'Dubai'], 'Paris': ['New York', 'Dubai'], 'Dubai': ['New York'], 'New York': ['Toronto']}
the route path for: Chennai and New York [['Chennai', 'Paris', 'New York'], ['Chennai', 'Paris', 'Dubai', 'New York'], ['Chennai', 'Dubai', 'New York']]
the shortest route path for: Chennai and New York [['Chennai', 'Paris', 'New York']]

Linear Search

In [ ]:
def linear_search(number_list,number_to_find):
  for index,elements in enumerate(number_list):
    if elements == number_to_find:
      return index
  return -1



if __name__ == '__main__':
  number_list = [20,10,11,21,34,34,3435,22]
  number_to_find = 34

  index = linear_search(number_list, number_to_find)
  print(f"the given number index position: {index}")

the given number index position: 4

Binary search

In [ ]:
def binarysearch(number_list, number_to_find):
  left_index = 0
  right_index = len(number_list) -1
  mid_index = 0

  while left_index <= right_index:
    mid_index = (left_index + right_index)//2
    mid_number = number_list[mid_index]

    if mid_number == number_to_find:
      return mid_index

    if mid_number < number_to_find:
      left_index = mid_index + 1

    else:
      right_index = mid_index + 1

  return -1


if __name__ == '__main__':
  number_list = [7,11.12,13,13,15,15,18,18,20,21]
  number_to_find = 20
  index = binarysearch(number_list, number_to_find)
  print(f"The index position is {index}")

The index position is 8

binary recursive

In [ ]:
def binaryrecursive(number_list,number_to_find,left_index,right_index):

  if right_index < left_index:
    return -1
  
  
  mid_index = (left_index + right_index) // 2

  if mid_index >= len(number_list) or mid_index < 0:
    return -1
  mid_number = number_list[mid_index]

  if mid_number == number_to_find:
    return mid_index

  if mid_number < number_to_find:
    left_index = mid_index + 1

  if mid_number > number_to_find:
    right_index = mid_index - 1

  return binaryrecursive(number_list,number_to_find,left_index,right_index)


if __name__ == '__main__':
    numbers_list = [12, 15, 17, 19, 21, 24, 45, 67]
    number_to_find = 15
    left_index = 0
    right_index = len(number_list)
    index = binaryrecursive(numbers_list, number_to_find, left_index, right_index)
    print(f"Number found at index {index} using binary search")

Number found at index 1 using binary search

Binarysearch second method to print duplicate

In [ ]:
def binaryrecursive(number_list,number_to_find,left_index,right_index):

  if right_index < left_index:
    return -1
  
  
  mid_index = (left_index + right_index) // 2

  if mid_index >= len(number_list) or mid_index < 0:
    return -1
  mid_number = number_list[mid_index]

  if mid_number == number_to_find:
    return mid_index

  if mid_number < number_to_find:
    left_index = mid_index + 1

  if mid_number > number_to_find:
    right_index = mid_index - 1

  return binaryrecursive(number_list,number_to_find,left_index,right_index)

#  When I try to find number 5 in below list using binary search, it doesn't work and returns me -1 index. Why is that?
#  numbers = [1,4,6,9,10,5,7]
#  Answer: It is because the list is not sorted! Binary search requires that list has to be sorted

if __name__ == '__main__':
    number_list = [1,4,6,9,10,5,7]
    number_to_find = 5 
    left_index = 0
    right_index = len(number_list)
    index = binaryrecursive(number_list, number_to_find,left_index,right_index)
    print(f"Number found at index {index} using binary search")

Number found at index -1 using binary search

In [ ]:
def find_all_the_occurence(numbers,number_to_find):
  index_position = []

  for i in range(len(numbers)):
    if numbers[i] == number_to_find:
      index_position.append(i)
  return index_position

numbers = [1,4,6,9,11,15,15,15,17,21,34,34,56]
index = find_all_the_occurence(numbers,15)
print(f"The no of index position for 15 is {index}")

The no of index position for 15 is [5, 6, 7]

# Bubble Sort

simple method for bubble sort

In [ ]:
def bubblesort(elements):
  size = len(elements)

  for i in range(size-1):

    for j in range(size-1):
      if elements[j] > elements[j+1]:
        tmp = elements[j]
        elements[j] = elements[j+1]
        elements[j+1] = tmp

if __name__ == "__main__":
  elements = [5,9,2,1,67,34,88,34]
  bubblesort(elements)
  print(elements)

[1, 2, 5, 9, 34, 34, 67, 88]

Another method for bubble sort

In [ ]:
#sorting transaction amount
def bubble_sort(elements, key=None):
  size = len(elements)

  for i in range(size-1):
    swap = False
    
    for j in range(size-1):
      a = elements[j][key]
      b = elements[j+1][key]

      if a > b:
        tmp = elements[j]
        elements[j] = elements[j+1]
        elements[j+1] = tmp
        swap = True
      
    if not swap:
      break
if __name__ == "__main__":
  elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

  bubble_sort(elements,key='transaction_amount')
  print(elements)

[{'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

In [ ]:
#sorting name
def bubble_sort(elements, key=None):
  size = len(elements)

  for i in range(size-1):
    swap = False
    
    for j in range(size-1-i):
      a = elements[j][key]
      b = elements[j+1][key]

      if a > b:
        tmp = elements[j]
        elements[j] = elements[j+1]
        elements[j+1] = tmp
        swap = True
      
    if not swap:
      break
if __name__ == "__main__":
  elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

  bubble_sort(elements,key='name')
  print(elements)

[{'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

Quick Sort

In [ ]:
# implementation of quick sort in python using hoare partition scheme

def swap(a, b, arr):
    if a!=b:
        tmp = arr[a]
        arr[a] = arr[b]
        arr[b] = tmp

def quick_sort(elements, start, end):
    if start < end:
        pi = partition(elements, start, end)
        quick_sort(elements, start, pi-1)
        quick_sort(elements, pi+1, end)

def partition(elements, start, end):
    pivot_index = start
    pivot = elements[pivot_index]

    while start < end:
        while start < len(elements) and elements[start] <= pivot:
            start+=1

        while elements[end] > pivot:
            end-=1

        if start < end:
            swap(start, end, elements)

    swap(pivot_index, end, elements)

    return end


if __name__ == '__main__':
    elements = [11,9,29,7,2,15,28]
    # elements = ["mona", "dhaval", "aamir", "tina", "chang"]
    quick_sort(elements, 0, len(elements)-1)
    print(elements)

    tests = [
        [11,9,29,7,2,15,28],
        [3, 7, 9, 11],
        [25, 22, 21, 10],
        [29, 15, 28],
        [],
        [6]
    ]

    for elements in tests:
        quick_sort(elements, 0, len(elements)-1)
        print(f'sorted array: {elements}')

[2, 7, 9, 11, 15, 28, 29]
sorted array: [2, 7, 9, 11, 15, 28, 29]
sorted array: [3, 7, 9, 11]
sorted array: [10, 21, 22, 25]
sorted array: [15, 28, 29]
sorted array: []
sorted array: [6]

In [ ]:
#This implements quick sort using lomuto partition scheme

def swap(a, b, arr):
    if a!=b:
        tmp = arr[a]
        arr[a] = arr[b]
        arr[b] = tmp

def quick_sort(elements, start, end):
    if len(elements)== 1:
        return
    if start < end:
        pi = partition(elements, start, end)
        quick_sort(elements, start, pi-1)
        quick_sort(elements, pi+1, end)

def partition(elements, start, end):
    pivot = elements[end]
    p_index = start

    for i in range(start, end):
        if elements[i] <= pivot:
            swap(i, p_index, elements)
            p_index += 1

    swap(p_index, end, elements)

    return p_index


if __name__ == '__main__':
    tests = [
        [11,9,29,7,2,15,28],
        [3, 7, 9, 11],
        [25, 22, 21, 10],
        [29, 15, 28],
        [],
        [6]
    ]
    # elements = ["mona", "dhaval", "aamir", "tina", "chang"]

    for elements in tests:
        quick_sort(elements, 0, len(elements)-1)
        print(f'sorted array: {elements}')

sorted array: [2, 7, 9, 11, 15, 28, 29]
sorted array: [3, 7, 9, 11]
sorted array: [10, 21, 22, 25]
sorted array: [15, 28, 29]
sorted array: []
sorted array: [6]

Insertion Sort

In [ ]:
def insertion_sort(elements):
  for i in range(1,len(elements)):
    part = elements[i]
    j = i-1

    while j>=0 and part < elements[j]:
      elements[j+1] = elements[j]
      j= j-1
    
    elements[j+1] = part
if __name__ == "__main__":
  elements = [11,9,29,7,2,15,28]
  insertion_sort(elements)
  print(elements)

  tests = [
        [11,9,29,7,2,15,28],
        [3, 7, 9, 11],
        [25, 22, 21, 10],
        [29, 15, 28],
        [],
        [6]
    ]

  for elements in tests:
    insertion_sort(elements)
    print(f"sorted array: {elements}")

[2, 7, 9, 11, 15, 28, 29]
sorted array: [2, 7, 9, 11, 15, 28, 29]
sorted array: [3, 7, 9, 11]
sorted array: [10, 21, 22, 25]
sorted array: [15, 28, 29]
sorted array: []
sorted array: [6]

Merge sort

In [ ]:
def merge_sort(arr):
    if len(arr) <= 1:
        return

    mid = len(arr)//2

    left = arr[:mid]
    right = arr[mid:]

    merge_sort(left)
    merge_sort(right)

    merge_two_sorted_lists(left, right, arr)

def merge_two_sorted_lists(a,b,arr):
    len_a = len(a)
    len_b = len(b)

    i = j = k = 0

    while i < len_a and j < len_b:
        if a[i] <= b[j]:
            arr[k] = a[i]
            i+=1
        else:
            arr[k] = b[j]
            j+=1
        k+=1

    while i < len_a:
        arr[k] = a[i]
        i+=1
        k+=1

    while j < len_b:
        arr[k] = b[j]
        j+=1
        k+=1

if __name__ == '__main__':
    test_cases = [
        [10, 3, 15, 7, 8, 23, 98, 29],
        [],
        [3],
        [9,8,7,2],
        [1,2,3,4,5]
    ]

    for arr in test_cases:
        merge_sort(arr)
        print(arr)

[3, 7, 8, 10, 15, 23, 29, 98]
[]
[3]
[2, 7, 8, 9]
[1, 2, 3, 4, 5]

In [ ]:
#merge primitive sort
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr)//2

    left = arr[:mid]
    right = arr[mid:]

    left = merge_sort(left)
    right = merge_sort(right)

    return merge_two_sorted_lists(left, right)

def merge_two_sorted_lists(a,b):
    sorted_list = []

    len_a = len(a)
    len_b = len(b)

    i = j = 0

    while i < len_a and j < len_b:
        if a[i] <= b[j]:
            sorted_list.append(a[i])
            i+=1
        else:
            sorted_list.append(b[j])
            j+=1

    while i < len_a:
        sorted_list.append(a[i])
        i+=1

    while j < len_b:
        sorted_list.append(b[j])
        j+=1

    return sorted_list

if __name__ == '__main__':
    arr = [10,3,15,7,8,23,98,29]

    print(merge_sort(arr))

[3, 7, 8, 10, 15, 23, 29, 98]

In [ ]:
# you can use this to sort strings too
def merge_sort(elements, key, descending=False):
    size = len(elements)

    if size == 1:
        return elements

    left_list = merge_sort(elements[0:size//2], key, descending)
    right_list = merge_sort(elements[size//2:], key, descending)
    sorted_list = merge(left_list, right_list, key, descending)

    return sorted_list

    
def merge(left_list, right_list, key, descending=False):
    merged = []
    if descending:
        while len(left_list) > 0 and len(right_list) > 0:
            if left_list[0][key] >= right_list[0][key]:
                merged.append(left_list.pop(0))
            else:
                merged.append(right_list.pop(0))

    else:
        while len(left_list) > 0 and len(right_list) > 0:
            if left_list[0][key] <= right_list[0][key]:
                merged.append(left_list.pop(0))
            else:
                merged.append(right_list.pop(0))

    merged.extend(left_list)
    merged.extend(right_list)
    return merged

if __name__ == '__main__':
    elements = [
        { 'name': 'vedanth',   'age': 17, 'time_hours': 1},
        { 'name': 'rajab', 'age': 12,  'time_hours': 3},
        { 'name': 'vignesh',  'age': 21,  'time_hours': 2.5},
        { 'name': 'chinmay',  'age': 24,  'time_hours': 1.5},
    ]

    sorted_list = merge_sort(elements, key='time_hours', descending=True)
    print(sorted_list)

[{'name': 'rajab', 'age': 12, 'time_hours': 3}, {'name': 'vignesh', 'age': 21, 'time_hours': 2.5}, {'name': 'chinmay', 'age': 24, 'time_hours': 1.5}, {'name': 'vedanth', 'age': 17, 'time_hours': 1}]

Shell sort

In [ ]:

def shell_sort(arr):
    size = len(arr)
    gap = size//2

    while gap > 0:
        for i in range(gap,size):
            anchor = arr[i]
            j = i
            while j>=gap and arr[j-gap]>anchor:
                arr[j] = arr[j-gap]
                j -= gap
            arr[j] = anchor
        gap = gap // 2

def foo(arr):
    size = len(arr)
    gap = size // 2
    gap = 3
    for i in range(gap, size):
        anchor = arr[i]
        j = i
        while j>=gap and arr[j-gap]>anchor:
            arr[j] = arr[j-gap]
            j -= gap
        arr[j] = anchor

if __name__ == '__main__':
    tests = [
        [89, 78, 61, 53, 23, 21, 17, 12, 9, 7, 6, 2, 1],
        [],
        [1,5,8,9],
        [234,3,1,56,34,12,9,12,1300],
        [5]
    ]
    elements = [89,78,61,53,23,21,17,12,9,7,6,2,1]
    for elements in tests:
        shell_sort(elements)
        print(elements)

[1, 2, 6, 7, 9, 12, 17, 21, 23, 53, 61, 78, 89]
[]
[1, 5, 8, 9]
[1, 3, 9, 12, 12, 34, 56, 234, 1300]
[5]

In [ ]:
'''For example, given the unsorted list [2, 1, 5, 7, 2, 0, 5, 1, 2, 9, 5, 8, 3], 
after sorting using shell sort without duplicates, the sorted list would be:'''
def shell_sort(arr):
    n = len(arr)
    div = 2
    gap = n//div
    while gap > 0:
        index_to_delete = []
        for i in range(gap, n):
            temp = arr[i]
            j = i
            while j >= gap and arr[j-gap] >= temp:
                if arr[j-gap] == temp:
                    index_to_delete.append(j)
                arr[j] = arr[j-gap]
                j -= gap
            arr[j] = temp
        index_to_delete=list(set(index_to_delete))
        index_to_delete.sort()
        if index_to_delete:
            for i in index_to_delete[-1::-1]:
                del arr[i]
        div *= 2
        n = len(arr)
        gap = n//div


if __name__ == '__main__':
    elements = [2, 1, 5, 7, 2, 0, 5, 1, 2, 9,  5, 8, 3]

    print(f'Given unsorted list: {elements}')
    shell_sort(elements)
    print(f'List after Sorting : {elements}')

Given unsorted list: [2, 1, 5, 7, 2, 0, 5, 1, 2, 9, 5, 8, 3]
List after Sorting : [0, 1, 2, 3, 5, 7, 8, 9]

Selection sort

In [ ]:
def selection_sort(arr):
    size = len(arr)
    for i in range(size-1):
        min_index = i
        for j in range(min_index+1,size):
            if arr[j] < arr[min_index]:
                min_index = j
        if i != min_index:
            arr[i], arr[min_index] = arr[min_index], arr[i]


if __name__ == '__main__':
    tests = [
        [89, 78, 61, 53, 23, 21, 17, 12, 9, 7, 6, 2, 1],
        [],
        [1,5,8,9],
        [234,3,1,56,34,12,9,12,1300],
        [78, 12, 15, 8, 61, 53, 23, 27],
        [5]
    ]
    for elements in tests:
        selection_sort(elements)
        print(elements)

[1, 2, 6, 7, 9, 12, 17, 21, 23, 53, 61, 78, 89]
[]
[1, 5, 8, 9]
[1, 3, 9, 12, 12, 34, 56, 234, 1300]
[8, 12, 15, 23, 27, 53, 61, 78]
[5]

In [ ]:
''' Example: A single dictionary entry contains two keys 'First Name' and 'Last Name'. the list should be sorted first based on 'First Name', 
then based on 'Last Name', w.r.t. common/same 'First Name' entries.for this, one shall past sorting order of preference 
list [ 'First Name' , 'Last Name' ]
For this, Given the following sequence List:'''

def multilevel_selection_sort(elements, sort_by_list):
    for sort_by in sort_by_list[-1::-1]:
        for x in range(len(elements)):
            min_index = x
            for y in range(x, len(elements)):
                if elements[y][sort_by] < elements[min_index][sort_by]:
                    min_index = y
            if x != min_index:
                elements[x], elements[min_index] = elements[min_index], elements[x]


if __name__ == '__main__':
    elements = [
        {'First Name': 'Raj', 'Last Name': 'Nayyar'},
        {'First Name': 'Suraj', 'Last Name': 'Sharma'},
        {'First Name': 'Karan', 'Last Name': 'Kumar'},
        {'First Name': 'Jade', 'Last Name': 'Canary'},
        {'First Name': 'Raj', 'Last Name': 'Thakur'},
        {'First Name': 'Raj', 'Last Name': 'Sharma'},
        {'First Name': 'Kiran', 'Last Name': 'Kamla'},
        {'First Name': 'Armaan', 'Last Name': 'Kumar'},
        {'First Name': 'Jaya', 'Last Name': 'Sharma'},
        {'First Name': 'Ingrid', 'Last Name': 'Galore'},
        {'First Name': 'Jaya', 'Last Name': 'Seth'},
        {'First Name': 'Armaan', 'Last Name': 'Dadra'},
        {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
        {'First Name': 'Aahana', 'Last Name': 'Arora'}
    ]

    print(f'Given unsorted array:', *elements, sep='\n')
    multilevel_selection_sort(
        elements, ['First Name', 'Last Name'])
    print(f'Array after Multi-Level Sorting:', *elements, sep='\n')

Given unsorted array:
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Aahana', 'Last Name': 'Arora'}
Array after Multi-Level Sorting:
{'First Name': 'Aahana', 'Last Name': 'Arora'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}

Depth First Search

In [ ]:
# function for depth first search
def dfs(data, start, visited=set()):

    # if not visited print it
    if start not in visited:
        print(start, end=" ")

    visited.add(start)

    for i in data[start] - visited:

        # if not visited gi in depth of it
        dfs(data, i, visited)
    return


# sample data in dictionary form
data = {
        'A': {'B'},
        'B': {'A', 'C', 'D'},
        'C': {'B', 'E'},
        'D': {'B', 'E'},
        'E': {'C', 'D', 'F'},
        'F': {'E'}
        }


if __name__ == '__main__':

    dfs(data, 'A')

A B C E D F

Example: Darshan and Nikhil are reporting to Karan. Khantil and Tanuj are reporting to Darshan.
Q. Find all employees who are reporting to Karan.

Explanation:

-So here, we want to find all the children nodes of Karan.

-We will perform DFS starting on Karan and then traverse all the children of Karan which are unvisited.

Output:

karan : nikhil darshan tanuj khantil

In [ ]:
# function for depth first search
def find_employees(data, start, employee, visited=set()):
    # if not visited print it
    if start not in visited:
        print(start, end=" ")
        if start == employee:
            print(":", end=" ")
    visited.add(start)

    for i in data[start] - visited:
        # if not visited go in depth of it
        find_employees(data, i, visited)
    return


# sample data in dictionary form
data = {
    "karan": {"darshan", "nikhil"},
    "darshan": {"khantil", "tanuj"},
    "tanuj": {"nikhil"},
    "krinish": {"hetul"},
    "khantil": set(),
    "nikhil": set()
}


if __name__ == '__main__':

    find_employees(data, "karan", "karan")

karan : nikhil darshan khantil tanuj

Recursive

In [ ]:
def findsum(i):
  if i==1:
    return 1
  return i + findsum(i-1)


def fib(i):
  if i==0 or i==1:
    return i
  return fib(i-1) + fib(i-2)

if __name__ == "__main__":
  print(findsum(5))
  print(fib(10))

15
55

Breadth Frist Search

In [ ]:
def bfs(data, start, visited=set()):

    queue = [start]

    while queue:
        current_node = queue.pop(0)
        if current_node not in visited:
            print(current_node, end=" ")
        visited.add(current_node)

        for i in data[current_node] - visited:
            queue.append(i)
    return


if __name__ == '__main__':

    data = {
        'A': {'B'}, 'B': {'A', 'C', 'D'}, 'C': {'B', 'E'}, 'D': {'B', 'E'},
        'E': {'C', 'D', 'F'}, 'F': {'E'}
    }

    bfs(data, 'A')

A B C D E F

BFS Traversal of a graph in python using graph given in dictionary

Implement a function to find whether a path exists for a given set of airline routes. The routes are depicted using graphs as a dictionary of sets, where keys represent as source and elements of sets represent destinations. Print the path if it exists.

Example: A, B, C, D, E, F are the nodes of the graph.

For example, if you are given following data:

In [ ]:
def bfs(data, start, end, visited=[]):
    queue = [start]

    while queue:
        current_node = queue.pop(0)
        if current_node==end:
            print("Path: " + "->".join(visited) + "->" + end)
            return
        visited.append(current_node)

        for i in data[current_node] - set(visited):
            queue.append(i)
    print("Path does not exist!")    
    return


if __name__ == '__main__':
  data = {
    'A': {'B'},
    'B': {'C', 'D'},
    'C': {'E'},
    'D': {'E'},
    'E': {'F'},
    'F': set()
  }
  bfs(data, 'A', 'D')

Path: A->B->C->D

In [ ]:
import pandas as pd

X={"age":[22,25,47,52,46,56,55,60,62,61,18,28,27,29,49],"Insurance":[0,0,1,0,1,1,0,1,1,1,0,0,0,0,1]}

data = pd.DataFrame(X)

In [ ]:
data

    age  Insurance
0    22          0
1    25          0
2    47          1
3    52          0
4    46          1
5    56          1
6    55          0
7    60          1
8    62          1
9    61          1
10   18          0
11   28          0
12   27          0
13   29          0
14   49          1

In [ ]:
data.to_csv('insurance.csv')

In [ ]:
from google.colab import drive
drive.mount("/content/MyDrive/")

Mounted at /content/MyDrive/

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv("/content/MyDrive/MyDrive/insurance.csv")

In [ ]:
data

    Unnamed: 0  age  Insurance
0            0   22          0
1            1   25          0
2            2   47          1
3            3   52          0
4            4   46          1
5            5   56          1
6            6   55          0
7            7   60          1
8            8   62          1
9            9   61          1
10          10   18          0
11          11   28          0
12          12   27          0
13          13   29          0
14          14   49          1

In [ ]:
data.isnull()

    Unnamed: 0    age  Insurance
0        False  False      False
1        False  False      False
2        False  False      False
3        False  False      False
4        False  False      False
5        False  False      False
6        False  False      False
7        False  False      False
8        False  False      False
9        False  False      False
10       False  False      False
11       False  False      False
12       False  False      False
13       False  False      False
14       False  False      False

In [ ]:
data.dtypes

Unnamed: 0    int64
age           int64
Insurance     int64
dtype: object

In [ ]:
data.drop(data.columns[0], axis = 1, inplace = True)

In [ ]:
data

    age  Insurance
0    22          0
1    25          0
2    47          1
3    52          0
4    46          1
5    56          1
6    55          0
7    60          1
8    62          1
9    61          1
10   18          0
11   28          0
12   27          0
13   29          0
14   49          1

In [ ]:
def mean_X(x):
  return sum(x)/len(x)
def mean_Y(y):
  return sum(y)/len(y)

def covariance(x,y):
  return sum((x - (sum(x)/len(x))) * (y - (sum(y)/len(y))))

In [ ]:
mean_X(data['age'])

42.46666666666667

In [ ]:
mean_Y(data['Insurance'])

0.4666666666666667

In [ ]:
x = data['age']
y = data['Insurance']

In [ ]:
covariance(x,y)

83.73333333333335

In [ ]:
def vari(x):
  return sum((x - (sum(x)/len(x)))**2)

In [ ]:
vari(x)

3491.7333333333336

In [ ]:
lr = covariance(x,y)/vari(x)
lr

0.023980449060638464